.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 40px;
  right: 140px;
  background-color: salmon;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container2 {
  position: relative;
}

.text-block2 {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color:rgb(216, 170, 54);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

Image {
  width: 100%,
}